.sidebar {
    width: 200px;
    position: fixed;
    top: 60px; /* Debajo del navbar */
    left: 0;
    height: calc(100% - 60px);
    background-color: #CFD8DC; /* Gris claro */
    transform: translateX(-100%); /* Oculta el sidebar fuera de la pantalla */
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
  }
  
  .sidebar.sidebar-active {
    transform: translateX(0); /* Mueve el sidebar a su posición visible */
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar nav li {
    padding: 15px;
    color: #333; /* Color de texto */
    cursor: pointer;
    border-bottom: 1px solid #E0F2F1; /* Línea divisoria */
    transition: background-color 0.3s, padding-left 0.3s;
  }
  
  .sidebar nav li:hover {
    background-color: #B2DFDB;
    padding-left: 20px;
  }
  
  .sidebar nav li i {
    margin-right: 10px;
    font-size: 1.2em;
  }
  