@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* Estilos del header */
.header {
  background-color: #26798E; /* Color de fondo del header */
  padding: 10px 20px; /* Espaciado interno */
  margin-bottom: 20px; /* Espacio entre el header y el siguiente módulo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}


/* Estilos generales para el navbar */
.navbar {
  background-color: #f2f2f2;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  transition: padding 0.3s ease-in-out;
  height: 100px;
}

/* Estilos para el contenedor izquierdo */
.left-container {
    display: flex;
    align-items: center;
}

/* Estilo del botón de menú de hamburguesa */
.menu-toggle {
  cursor: pointer;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  width: 40px; /* Ancho del botón */
  height: 40px; /* Alto del botón */
  border-radius: 50%; /* Esquinas redondeadas */
  background-color: #ffffff; /* Color de fondo blanco */
  border: 2px solid #26798E; /* Bordes del color azul oscuro */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Cambios al pasar el mouse */
.menu-toggle:hover {
  background-color: #f1f1f1; /* Color de fondo al pasar el mouse */
  transform: scale(1.1); /* Aumentar el tamaño ligeramente */
}

/* Estilos para las líneas del ícono de hamburguesa */
.menu-toggle i {
  font-size: 1.5rem; /* Tamaño del ícono */
  color: #26798E; /* Color del ícono */
}

/* Estilos para el logo */
.logo {
    max-height: 70px; /* Cambia según la altura deseada */
}

/* Enlaces del lado derecho */
.navbar-right {
    display: flex;
    align-items: center;
}

/* Ocultar enlaces del navbar en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-right {
        display: none; /* Ocultar enlaces en pantallas pequeñas */
    }
}

/* Dropdown del menú en pantallas pequeñas */
.menu-dropdown {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px; /* Justo debajo del navbar */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-right.active .menu-dropdown {
    display: flex; /* Mostrar menú si está activo */
}

/* Estilos para los enlaces */
.nav-link {
    color: black !important; /* Forzar el color negro */
    text-decoration: none;
    margin: 0 10px;
}

/* Media Queries para hacer el banner responsivo */
@media (max-width: 768px) {
    .menu-dropdown {
        display: flex; /* Mostrar menú desplegable */
    }
}

/* Estudios.css */

.contenido-principal {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  
}

.columna-formulario {
  flex: 0 0 20%;
}

.columna-tabla {
  flex: 0 0 75%;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

form label {
  display: block;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

form label {
  display: block;
  margin-bottom: 10px;
}

.tablaConsultDonaciones-wrapper {
  overflow-x: auto;
  overflow-y: hidden; /* Oculta el desplazamiento vertical del contenedor principal */
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.tablaConsultDonaciones {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  display: flex;
  flex-direction: column;
  height: 100%; /* La tabla ocupa todo el contenedor */
}

.tablaConsultDonaciones thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  flex-shrink: 0; /* Evita que el encabezado cambie de tamaño */
}

.tablaConsultDonaciones tbody {
  display: block;
  overflow-y: auto;
  height: 100%; /* Asegura que el tbody ocupe el espacio restante */
  width: 100%;
}

.tablaConsultDonaciones th,
.tablaConsultDonaciones td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  vertical-align: top;
  word-wrap: break-word;
}

.tablaConsultDonaciones th:nth-child(1),
.tablaConsultDonaciones td:nth-child(1) {
  width: 130px;
}

.tablaConsultDonaciones th:nth-child(2),
.tablaConsultDonaciones td:nth-child(2) {
  width: 120px;
}

.tablaConsultDonaciones th:nth-child(3),
.tablaConsultDonaciones td:nth-child(3) {
  width: 120px;
}

.tablaConsultDonaciones th:nth-child(4),
.tablaConsultDonaciones td:nth-child(4) {
  width: 210px;
}

.tablaConsultDonaciones th:nth-child(5),
.tablaConsultDonaciones td:nth-child(5) {
  width: 600px;
}

.tablaConsultDonaciones th:last-child,
.tablaConsultDonaciones td:last-child {
  width: 130px;
}

.table-headerDonaiones {
  background-color: #38b2ac !important;
  color: white;
  padding: 10px;
  text-align: left;
}

@media (max-width: 768px) {
  .contenido-principal {
    flex-direction: column;
  }

  .columna-formulario,
  .columna-tabla {
    flex: 1 0 100%;
  }

  .tablaConsultDonaciones-wrapper {
    overflow-x: auto;
  }

  .tablaConsultDonaciones {
    width: 800px; /* Ancho mínimo para mantener los tamaños de columnas */
  }
}

.btnBuscarDoancion{
  background-color: #38b2ac;
}

.btnOperaciones{
  background-color: #38b2ac;
  width: 100px;
}

.btnModal{
  background-color: #38b2ac;
  margin-top: -10px;
}

.modalText{
  text-align: center;
  padding-top: 30px;
}

.modalID{
  text-align: center;
}