@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* Estilos generales para el navbar */
.navbar {
    background-color: #26798E; /* Azul oscuro */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: padding 0.3s ease-in-out;
}

/* Estilos para el ícono del menú */
.menu-toggle {
    cursor: pointer;
    display: flex; /* Mostrar siempre el ícono de menú */
}

/* Enlaces del lado derecho */
.navbar-right {
    display: flex;
    align-items: center;
}

.left-container > * {
    margin-right: 25px; /* Espaciado de 15px a la derecha */
}

.left-container > *:last-child {
    margin-right: 0; /* Eliminar el margen del último hijo */
}


/* Ocultar enlaces del navbar en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-right {
        display: none; /* Ocultar enlaces en pantallas pequeñas */
    }
}

/* Dropdown del menú en pantallas pequeñas */
.menu-dropdown {
    display: none; /* Oculto por defecto */
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px; /* Justo debajo del navbar */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-right.active .menu-dropdown {
    display: flex; /* Mostrar menú si está activo */
}

/* Estilos para los enlaces */
.nav-link {
    color: black !important; /* Forzar el color negro */
    text-decoration: none;
    margin: 0 10px;
}

/* Media Queries para hacer el banner responsivo */
@media (max-width: 768px) {
    .menu-dropdown {
        display: flex; /* Mostrar menú desplegable */
    }
}
