@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* Estilo general del cuerpo para usar la fuente */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para botones */
button, .app-button {
    background-color: #4CAF50; /* Fondo verde */
    color: white; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem; /* Usa rem para un tamaño relativo */
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transición suave para hover */
}

button:hover, .app-button:hover {
    background-color: #45a049; /* Color de fondo más oscuro al hacer hover */
}

/* Botón de regresar */
.back-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

/* Hacer que el contenedor ocupe toda la pantalla */
.thumbnail-gallery-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ajusta al 100% de la altura de la ventana */
    padding: 10px;
    box-sizing: border-box;
}

/* Galería de miniaturas */
.thumbnail-gallery {
    flex: 1;
    max-height: 70vh; /* Ajustar a un 70% de la altura de la pantalla */
    overflow-y: auto;
    padding: 10px;
}

/* Encabezado de la galería de miniaturas */
.thumbnail-gallery-header {
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
    z-index: 1;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Responsividad con media queries */
@media (max-width: 768px) {
    button, .app-button, .back-button {
        font-size: 0.9rem; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
        padding: 8px 16px; /* Reduce el espaciado en pantallas pequeñas */
    }

    .thumbnail-gallery {
        max-height: 60vh; /* Ajustar el tamaño en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    button, .app-button, .back-button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }

    .thumbnail-gallery {
        max-height: 50vh;
    }
}
